
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <h1>Cocktails en Folie</h1>
  </div>

<div class="container">

<ul class="list">
  <% @cocktails.each do |cocktail| %>
      <li>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </li>
    <% end %>
</ul>

<%= link_to "Ajouter un nouveau Cocktail", new_cocktail_path, class: "btn btn-primary" %>

</div>