
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dwptvy074/image/upload/v1558696980/banner_cocktail_et5zmo.jpg);">
    <h1>CoCkTaiLs eN FoLiE !</h1>
  </div>
 
<div class="container horizontal-center">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cocktail.photo %>')"> 
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      </div>
    <% end %>
  </div>
    <div class="row justify-content-center" style="margin-bottom: 20px">
      <%= link_to "Ajouter un Cocktail !", new_cocktail_path, class: "btn btn-primary"%>
    </div>
</div>

  
  
    
  