body {
  font-size: 1.5em;
}

.banner-new {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-bottom: 30px;
  text-align: center;
  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}

.formulaire {
  width: 60%;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  padding: 20px;
  border-radius: 10px;
}